<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>安徽慕界网络科技有限公司</title>
<link href="css/whir_common.css" rel="stylesheet" type="text/css" />
<link href="css/whir_styles.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="script/jquery-1.7.2.min.js"></script> 
<!--[if IE 6]>
<script type="text/javascript" src="script/iepng.js"></script>
<script type="text/javascript"> 
EvPNG.fix('img,.content,.svc-payment,.svc-gathering,.svc-weg,.svc-tx,.svc-credit,.svc-aa,.svc-donate,.svc-mobile,.svc-escore,.svc-rent,.svc-cashgift,.con,.aoff,'); </script>
<![endif]-->
</head>
<body class="body">
<!--头部-->
<div id="header">
  <div class="top">
    <div class="topmain">
      <div class="searchbox">
        <div class="so_so">
          <div class="logo"><a href="#" title="目课网"><img src="images/logo.jpg" / alt="目课网"></a></div>
          <div class="mk_so">
            <input type="text" class="input"  name=""/>
            <input type="image" src="images/btn.jpg" class="btn" />
          </div>
        </div>
        <div class="topmenu">
          <div class="xsyd"><a href="#" target="_blank">新手引导</a></div>
          <div class="hylist">
            <ul>
              <li class="li1"><a href="个人中心-信息完善.html">会员</a></li>
              <li class="li2"><a href="javascript:void(0);" onclick="showA();">注册</a>/<a href="javascript:void(0);" onclick="showB();">登陆</a></li>
              <li class="li3"><a href="#">APP下载</a></li>
              <li class="li4"><a href="#">收藏我们</a></li>
            </ul>
          </div>
		  				  <!--注册登录隐藏--->
	  <div id="pop" class="pop" style="display:none"> 
<div class="pop_head"><a href="javascript:void(0);" onclick="hideA()">关闭</a></div> 
<div class="pop_body">
<h1>用户注册</h1>
<div class="zhuce">
<input type="text" class="inputl" value="请输入真实邮箱" onFocus="this.value='';" onBlur="if(this.value==''){this.value='请输入真实邮箱';}" />
<input type="text" class="inputr" value="请输入用户名" onFocus="this.value='';" onBlur="if(this.value==''){this.value='请输入用户名';}" />
<input type="password" class="inputb" value="请输入密码" onFocus="this.value='';" onBlur="if(this.value==''){this.value='请输入密码';}" />
<div class="dlk"><a href="#" class="regist">注册</a><a href="#" class="login">返回登录</a></div>
</div>
</div> 
</div> 

<div id="pop1" class="pop1" style="display:none"> 
<div class="pop_head1"><a href="javascript:void(expression);" onclick="hideB()">关闭</a></div> 
<div class="pop_body1">
<h1>用户登陆</h1>
<div class="zhuce">
<input type="text" class="inputr" value="请输入用户名"  onFocus="this.value='';" onBlur="if(this.value==''){this.value='请输入用户名';}"/>
<input type="password" class="inputb" value="请输入密码" onFocus="this.value='';" onBlur="if(this.value==''){this.value='请输入密码';}" />
<div class="dlk"><a href="#" class="regist">登陆</a><a href="#" class="login">注册</a></div>
</div>
</div> 
</div>

        </div>
      </div>
      <!--菜单导航-->
      <div class="topnavmenu">
        <div class="nav">
          <ul>
            <li><a href="index.html" class="on">首页</a></li>
            <li><a href="中学时代.html">中学时代</a></li>
			<li><a href="#">翻转课堂</a></li>
            <li><a href="大学主页.html">大学时代</a></li>
            <li><a href="大学主页.html">高校慕课</a></li>
            <li><a href="大学主页.html">职业培训</a></li>
            <li><a href="企业主页.htmll">企业培训</a></li>
            <li><a href="#">综合视频</a></li>
            <li><a href="课件超市.html">课件超市</a></li>
          </ul>
        </div>
        <div class="question">
          <ul>
            <li class="li5"><a href="#">我要开班</a></li>
            <li class="li6"><a href="个人中心-我的提问.html">我要提问</a></li>
            <li class="li7"><a href="个人中心-我的回答.html">我要问答</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="clear"></div>
<!--container-->
<div id="container">
<div class="kssearch">
<div class="address">
<h1>按地区</h1><h2><span>全部</span><a href="#">安徽</a><a href="#">河北</a><a href="#">山西</a><a href="#">辽宁</a><a href="#">吉林</a><a href="#">黑龙江</a><a href="#">江苏</a><a href="#">浙江</a><a href="#">福建</a><a href="#">江西</a><a href="#">山东</a><a href="#">河南</a><a href="#">湖北</a><a href="#">湖南</a><a href="#">广东</a><a href="#">海南</a><a href="#">四川</a><a href="#">贵州</a><a href="#">云南</a><a href="#">陕西</a><a href="#">甘肃</a><a href="#">青海</a><a href="#">台湾</a><a href="#">内蒙古</a><a href="#">广西</a><a href="#">西藏</a><a href="#">宁夏</a><a href="#">新疆</a></h2>
</div>
<div class="address">
<h1>按类型</h1><h2><span>全部</span><a href="#">语文</a><a href="#">数学</a><a href="#">英语</a><a href="#">地理</a><a href="#">政治</a><a href="#">历中</a><a href="#">生物</a><a href="#">化学</a><a href="#">物理</a><a href="#">体育</a><a href="#">美术</a></h2>
</div>
<div class="address">
<h1>搜热词</h1><h2><span>全部</span><a href="#">写作提高</a><a href="#">阅读理解</a><a href="#">微 积 分</a><a href="#">解析几何</a><a href="#">课前预习</a><a href="#">课后练习</a><a href="#">中国历史</a><a href="#">世界历史</a><a href="#">立体几何</a><a href="#">平面向量</a><a href="#">综合测试</a><a href="#">名师答疑</a></h2>
</div>
</div>
<div class="kssearchbox">
<span class="sspx">按排序</span>
<div class="SelectBox">
 <span class="SelectText">请选择</span>
 <dl class="SelectList">
     <dt><a href="javascript:void(0)">香港</a></dt>
     <dt><a href="javascript:void(0)">北京</a></dt>
     <dt><a href="javascript:void(0)">广州</a></dt>
     <dt><a href="javascript:void(0)">上海</a></dt>
     <dt><a href="javascript:void(0)">杭州</a></dt>
     <dt><a href="javascript:void(0)">长沙</a></dt>
 </dl>
</div>
<script type="text/javascript">
  $(".SelectBox").each(function(){
		$(this).find(".SelectText").click(function(){
			 var SelectListStatis = $(this).next(".SelectList").css("display");
			 if(SelectListStatis == "none"){
					$(this).next(".SelectList").show();
				 }
			 else{
					$(this).next(".SelectList").hide();
				 }
		 });
		 $(this).find(".SelectList").children("dt").click(function(){
				 var Value = $(this).find("a").text();
				 $(this).parents(".SelectList").prev(".SelectText").text(Value);
				 $(this).parents(".SelectList").hide();
			 });
		 $(this).mouseleave(function(){ $(this).find(".SelectList").hide(); });
	});
</script>
<div class="wdss"><input type="text" class="input1" /><input type="image" src="images/search.jpg"  class="btn1"/></div>
<span class="ssjg">共1200个筛选结果</span><div class="page1"><span class="num"><font class="f_blue">1</font>/41</span><span class="prev">上一页</span><span class="next"><a href="#">下一页</a></span> </div>
</div>

        
        <div class="splist">
          <div class="myvideo">
            <div class="myvideoimg"><img src="images/my.jpg" />
              <h3><a href="#">Nancy带你【玩转法兰西】...</a></h3>
              <span class="play1"><a href="#" title="播放">播放</a></span><span class="time">07:20</span></div>
            <div class="title3">
              <div class="jiage"><a href="#">￥15</a></div>
              <div class="playtime"><a href="#">74,308次播放</a> | <a href="#">1,629次评论</a></div>
            </div>
          </div>
          <div class="myvideo">
            <div class="myvideoimg"><img src="images/my.jpg" />
              <h3><a href="#">Nancy带你【玩转法兰西】...</a></h3>
              <span class="play1"><a href="#" title="播放">播放</a></span><span class="time">07:20</span></div>
            <div class="title3">
              <div class="jiage"><a href="#">￥15</a></div>
              <div class="playtime"><a href="#">74,308次播放</a> | <a href="#">1,629次评论</a></div>
            </div>
          </div>
          <div class="myvideo">
            <div class="myvideoimg"><img src="images/my.jpg" />
              <h3><a href="#">Nancy带你【玩转法兰西】...</a></h3>
              <span class="play1"><a href="#" title="播放">播放</a></span><span class="time">07:20</span></div>
            <div class="title3">
              <div class="jiage"><a href="#">￥15</a></div>
              <div class="playtime"><a href="#">74,308次播放</a> | <a href="#">1,629次评论</a></div>
            </div>
          </div>
          <div class="myvideo">
            <div class="myvideoimg"><img src="images/my.jpg" />
              <h3><a href="#">Nancy带你【玩转法兰西】...</a></h3>
              <span class="play1"><a href="#" title="播放">播放</a></span><span class="time">07:20</span></div>
            <div class="title3">
              <div class="jiage"><a href="#">￥15</a></div>
              <div class="playtime"><a href="#">74,308次播放</a> | <a href="#">1,629次评论</a></div>
            </div>
          </div>
		  <div class="myvideo">
            <div class="myvideoimg"><img src="images/my.jpg" />
              <h3><a href="#">Nancy带你【玩转法兰西】...</a></h3>
              <span class="play1"><a href="#" title="播放">播放</a></span><span class="time">07:20</span></div>
            <div class="title3">
              <div class="jiage"><a href="#">￥15</a></div>
              <div class="playtime"><a href="#">74,308次播放</a> | <a href="#">1,629次评论</a></div>
            </div>
          </div>
         <div class="myvideo">
            <div class="myvideoimg"><img src="images/my.jpg" />
              <h3><a href="#">Nancy带你【玩转法兰西】...</a></h3>
              <span class="play1"><a href="#" title="播放">播放</a></span><span class="time">07:20</span></div>
            <div class="title3">
              <div class="jiage"><a href="#">￥15</a></div>
              <div class="playtime"><a href="#">74,308次播放</a> | <a href="#">1,629次评论</a></div>
            </div>
          </div>
		  <div class="myvideo">
            <div class="myvideoimg"><img src="images/my.jpg" />
              <h3><a href="#">Nancy带你【玩转法兰西】...</a></h3>
              <span class="play1"><a href="#" title="播放">播放</a></span><span class="time">07:20</span></div>
            <div class="title3">
              <div class="jiage"><a href="#">￥15</a></div>
              <div class="playtime"><a href="#">74,308次播放</a> | <a href="#">1,629次评论</a></div>
            </div>
          </div>
      </div>
	  <div class="page"><span class="prev">上一页</span><span class="num"><a href="#" class="on">1</a><a href="#">2</a><a href="#">3</a><a href="#">4</a><a href="#">5</a><a href="#">6</a><a href="#">7</a><a href="#">8</a><a href="#">9</a><a href="#">10</a></span><span class="next"><a href="#">下一页</a></span><em>217/5</em>转到
        <input name="textfield" type="text" value="5" class="inputpage"/>
        页
        <input type="submit" name="Submit" value="GO" class="btngo"/>
      </div>
</div>

<div class="clear"></div>
<div id="footer">
  <div class="links">
    <div class="linkpic">
      <h1>合作单位</h1>
      <div class="picshow">
        <div id="demo" style="width:1017px; height:49px; overflow:hidden;">
          <table border=0 align=center cellpadding=0 cellspacing=0 cellspace=0 >
            <tr>
              <td valign=top  id=marquePic1><table width='100%' border='0' cellspacing='0'>
                  <tr>
                    <td align=center><a href="#" target="_blank"><img src="images/link1.jpg" /></a></td>
                    <td align=center><a href="#" target="_blank"><img src="images/link2.jpg" /></a></td>
                    <td align=center><a href="#" target="_blank"><img src="images/link3.jpg" /></a></td>
                    <td align=center><a href="#" target="_blank"><img src="images/link4.jpg" /></a></td>
                    <td align=center><a href="#" target="_blank"><img src="images/link5.jpg" /></a></td>
                    <td align=center><a href="#" target="_blank"><img src="images/link6.jpg" /></a></td>
                    <td align=center><a href="#" target="_blank"><img src="images/link7.jpg" /></a></td>
                  </tr>
                </table></td>
              <td id=marquePic2 valign=top></td>
            </tr>
          </table>
        </div>
        <script type="text/javascript">
var speed=50 
marquePic2.innerHTML=marquePic1.innerHTML 
function Marquee(){ 
if(demo.scrollLeft>=marquePic1.scrollWidth){ 
demo.scrollLeft=0 
}else{ 
demo.scrollLeft++ 
} 
} 
var MyMar=setInterval(Marquee,speed) 
demo.onmouseover=function() {clearInterval(MyMar)} 
demo.onmouseout=function() {MyMar=setInterval(Marquee,speed)} 
</script>
      </div>
    </div>
    <div class="clear"></div>
    <!--合作伙伴-->
    <div class="linktext">
      <h1>合作伙伴</h1>
      <div class="textlink"><a href="#" target="_blank">毒霸网址大全</a> | <a href="#" target="_blank">搜狗网址导航</a> |<a href="#" target="_blank"> 2345影视</a> | <a href="#" target="_blank">hao123</a> | <a href="#" target="_blank">搜狗搜索</a> |<a href="#" target="_blank"> 搜库</a> | <a href="#" target="_blank">必应</a> | <a href="#" target="_blank">豆瓣</a> | <a href="#" target="_blank">易迅网</a> |<a href="#" target="_blank"> 猫扑</a> | <a href="#" target="_blank">百度贴吧</a> |<a href="#" target="_blank"> 新浪微博</a> |<a href="#" target="_blank"> 果壳网</a> | <a href="#" target="_blank">人民数字</a> | <a href="#" target="_blank">114啦影视</a> | <a href="#" target="_blank">太平洋时尚网</a> | <a href="#" target="_blank">健康卫视</a> | <a href="#" target="_blank">海报网</a> | <a href="#" target="_blank">电影网</a> | <a href="#" target="_blank">178游戏网</a> | <a href="#" target="_blank">刷机精灵</a> | <a href="#" target="_blank">智能电视网</a> | <a href="#" target="_blank">奇珀市场</a> | <a href="#" target="_blank">电视家</a></div>
    </div>
  </div>
  <div class="copyright">
    <div class="Navigation"><a href="#">关于目课</a><a href="#">合作伙伴</a><a href="#">营销中心</a><a href="#">廉正举报</a><a href="#">联系客服</a><a href="#">开放平台</a><a href="#">诚征英才</a><a href="#">联系我们</a><a href="#">网站地图</a><a href="#">法律声明</a></div>
    <div class="copy">Copyright © 2014 MYCLASS.C0M. All Rights Reserved. Designed by:<a href="http://www.wanhu.cn">Wanhu</a><br />
      目课网 版权所有 目课网经营许可证<br />
      <font class="f_red">当前在线人数：<b>154588</b> 人</font></div>
  </div>
</div>
</body>
</html>
